body {
    margin: 0;
}


canvas {
  display: block;
  vertical-align: bottom;
}


/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}

main.card {
    position: relative;
    max-width: 100vw;
}

.main_img {
    width: 100%;
    position: relative;
    z-index: 2;
    pointer-events: none;
}

.firework1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  z-index: 5;
  pointer-events: none;
}

.firework2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50vw;
  z-index: 5;
  pointer-events: none;
}

.flip-card {
    position: absolute;
    bottom: 16%;
    left: 24vw;
    width: 50vw;
    height: 30vw;
    background-color: transparent;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    animation: glow infinite 1.2s;
    border-radius: 20px;
  }

@keyframes glow {
    0% {
        box-shadow: 0 0 0;
    }
    50% {
        box-shadow: 0 0 5vw purple;
    }
    0% {
        box-shadow: 0 0 0;
    }
}
  
.flip-card img {
    width: 50vw;
    height: 30vw;
    border-radius: 20px;    
}

  /* This container is needed to position the front and back side */
  .flip-card-inner {
    border-radius: 20px;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card.clicked .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    border-radius: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }